-var pageTitle = "School Form"
-var pagename="Final Step"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/style
    body
        h1 #{pagename}
        include pug/components/studentform
        //- Script
        include pug/layout/script