.form
    .from-group
        input(type="text" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Father name
    .from-group
        input(type="email" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Father Email
    .from-group
        input(type="text" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Phone Number
    .form-btn 
        a(href="./motherData.html") Next