.form
    .from-group
        input(type="text" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Mother name
    .from-group
        input(type="email" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Mother Email
    .from-group
        input(type="text" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Phone Number
    .form-btn 
        a(href="./studentData.html") Next 
        a(href="index.html") Previous