.form
    .from-group
        input(type="text" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Student name
    .from-group
        input(type="email" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Student Email
    .from-group
        input(type="text" name="name" autocomplete="off" required)
        label(for="name" class="label-name")
            span.content-name Phone Number
    .form-btn 
        button.submitBtn Submit
        a(href="./motherData.html") Previous
.thanks 
    h2 Thank You! 